.wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
}
.container {
    width: 600px;
    margin: 0 auto;
    background-color: yellow;
}

#feeds {
	background-color: white;
	text-align: left;
}

#feeds ul {
	list-style-type: none;
}

#feeds img {
	display: inline;
	float: left;
	margin-right: 20px;
}

#feeds li {
	padding: 20px;
}

#feeds li:after {
	content: "";
  	display: table;
  	clear: both;
}